.set-pass-main{
    background-color: antiquewhite;
    width: 300px;
    height: min-content;
    border-radius: 20px;
}

.set-password-input{
    margin-top: 10px;
    width: 280px;
    padding: "8px";
    border: "1px solid #ccc";
    border-radius: "4px";
    margin-left: 10px;
}


.set-password-close{
    background-color: transparent;
    color: gray;
    font-size: 15px;
    font-weight: bold;
    border: none;
}